<!DOCTYPE html>
<!--[if lt IE 7 ]> <html class="ie6 <%= @bodyId %>"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7 <%= @bodyId %>"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8 <%= @bodyId %>"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie9 <%= @bodyId %>"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="<%= @bodyId %>"> <!--<![endif]-->
<head>
        <title>AutoLotto</title>
        <%= stylesheet_link_tag "application", :media => "all" %>
        <%= javascript_include_tag :modernizr %>
        <%= csrf_meta_tags %>
</head>
<body id="<%= @bodyId %>">

<%= yield %>

</body>
</html>
